In [1]:
import pandas as pd

## Q1: Create a Series with indexes = 1, 2, 3 and has three names.

In [2]:
index = [1,2,3]
names = ["Rakan", "Rayan", "Razan"]
s = pd.Series(names, index=index)
s

1    Rakan
2    Rayan
3    Razan
dtype: object

## Q2: Change indexes to 11, 12, 13.

In [3]:
s.index = [11,12,13]
s

11    Rakan
12    Rayan
13    Razan
dtype: object

## Q3: Retrieve First and second elements.

In [4]:
print(s[11])
print(s[12])

Rakan
Rayan

## Q4: Add duplicate elements, then remove the duplication.

In [5]:
y = pd.Series({14:"Razan", 15:"Rayan"})
s2 = pd.concat([s,y])
print(s2)
s2 = s2.drop_duplicates()
s2

11    Rakan
12    Rayan
13    Razan
14    Razan
15    Rayan
dtype: object

11    Rakan
12    Rayan
13    Razan
dtype: object

## Q5: Create a Students DataFrame has three columns (ID, Name, GPA).

In [6]:
 students = {
         "ID":[1,2,3],
         "Name":["Rayan", "Razan", "Rakan"],
         "GPA":[4.5, 4.9, 2.5 ]
 }
studentsDF = pd.DataFrame(students, columns=["ID", "Name", "GPA"])
studentsDF

   ID   Name  GPA
0   1  Rayan  4.5
1   2  Razan  4.9
2   3  Rakan  2.5

## Q6: Read educ_figdp_1_Data.csv file and print the head.

In [7]:
educ = pd.read_csv("educ_figdp_1_Data.csv")
educ.head()

,TIME,GEO,INDIC_ED,Value,Flag and Footnotes
0,2000,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
1,2001,European Union (28 countries),Total public expenditure on education as % of ...,:,NaN
2,2002,European Union (28 countries),Total public expenditure on education as % of ...,5.00,e
3,2003,European Union (28 countries),Total public expenditure on education as % of ...,5.03,e
4,2004,European Union (28 countries),Total public expenditure on education as % of ...,4.95,e

## Q7: Give an example shows the difference between loc and slicing?
**Note:**
- loc use the index labels as references.
- slice use the position as references.

In [8]:
print(educ['GEO'], "\n") #single col
print(educ[['TIME','GEO']], "\n") #list of cols
print(educ[0:3], "\n") #slice of rows
print("****************************************************")
print(educ.loc[:,'GEO'], "\n") #single col
print(educ.loc[:,['TIME','GEO']], "\n") #list of cols
print(educ.loc[:,'GEO':'Value'], "\n") #slice of cols

0      European Union (28 countries)
1      European Union (28 countries)
2      European Union (28 countries)
3      European Union (28 countries)
4      European Union (28 countries)
                   ...
379                          Finland
380                          Finland
381                          Finland
382                          Finland
383                          Finland
Name: GEO, Length: 384, dtype: object

     TIME                            GEO
0    2000  European Union (28 countries)
1    2001  European Union (28 countries)
2    2002  European Union (28 countries)
3    2003  European Union (28 countries)
4    2004  European Union (28 countries)
..    ...                            ...
379  2007                        Finland
380  2008                        Finland
381  2009                        Finland
382  2010                        Finland
383  2011                        Finland

[384 rows x 2 columns]

   TIME                            GEO  \
0  2000  European Union (28 countries)
1  2001  European Union (28 countries)
2  2002  European Union (28 countries)

                                            INDIC_ED Value Flag and Footnotes
0  Total public expenditure on education as % of ...     :                NaN
1  Total public expenditure on education as % of ...     :                NaN
2  Total public expenditure on education as % of ...  5.00                  e

****************************************************
0      European Union (28 countries)
1      European Union (28 countries)
2      European Union (28 countries)
3      European Union (28 countries)
4      European Union (28 countries)
                   ...
379                          Finland
380                          Finland
381                          Finland
382                          Finland
383                          Finland
Name: GEO, Length: 384, dtype: object

     TIME                            GEO
0    2000  European Union (28 countries)
1    2001  European Union (28 countries)
2    2002  European Union (28 countries)
3    2003  European Union (28 countries)
4    2004  European Union (28 countries)
..    ...                            ...
379  2007                        Finland
380  2008                        Finland
381  2009                        Finland
382  2010                        Finland
383  2011                        Finland

[384 rows x 2 columns]

                               GEO  \
0    European Union (28 countries)
1    European Union (28 countries)
2    European Union (28 countries)
3    European Union (28 countries)
4    European Union (28 countries)
..                             ...
379                        Finland
380                        Finland
381                        Finland
382                        Finland
383                        Finland

                                              INDIC_ED Value
0    Total public expenditure on education as % of ...     :
1    Total public expenditure on education as % of ...     :
2    Total public expenditure on education as % of ...  5.00
3    Total public expenditure on education as % of ...  5.03
4    Total public expenditure on education as % of ...  4.95
..                                                 ...   ...
379  Total public expenditure on education as % of ...  5.90
380  Total public expenditure on education as % of ...  6.10
381  Total public expenditure on education as % of ...  6.81
382  Total public expenditure on education as % of ...  6.85
383  Total public expenditure on education as % of ...  6.76

[384 rows x 3 columns]